[submodule "libs"]
	path = third-party-libs/glMath
	url = https://github.com/mateuszstompor/glMath.git
[submodule "MSCirclePad"]
	path = example_projects/iOS/MSCirclePad
	url = https://github.com/mateuszstompor/MSCirclePad.git
[submodule "third-party-libs/GSL"]
	path = third-party-libs/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "third-party-libs/assimp"]
	path = third-party-libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "third-party-libs/glfw"]
	path = third-party-libs/glfw
	url = https://github.com/glfw/glfw.git
